header
  h1 Guild Wars 2 New Players Guide

section#contents
  h1 Contents
  nav
    ul
      li(class=pageName === 'introduction' ? 'active' : '')
        a(href='introduction') Introduction
      li(class=pageName === 'combat' ? 'active' : '')
        a(href='combat') Combat
      li(class=pageName === 'equipment-stats' ? 'active' : '')
        a(href='equipment-stats') Equipment &amp; Stats
      li(class=pageName === 'traits-skills' ? 'active' : '')
        a(href='traits-skills') Traits &amp; Skills
