extends layout

block content
  p.
    This guide is for players new to Guild Wars 2, whether they have previous
    MMO experience or not. I've tried to make as few assumptions about
    familiarity with terms and concepts as possible, even though they may seem
    obvious to veteran players. Naturally this can be a tricky line to walk -
    I don't want to risk over-explaining very basic things like 'loot'.

  p.
    There are a number of links to the
    #[a(href='https://wiki.guildwars2.com/wiki/Main_Page') official Guild Wars 2 Wiki]
    in this guide. It's a comprehensive resource convering pretty much all
    aspects of the game, and I encourage you to consult it regularly. You
    quickly access it from the game itself by typing
    #[kbd /wiki] in the chat box, followed by either a search term or an
    #[dfn item link], where you shift-click on an item, waypoint or point of
    interest to insert a link to it in chat.

  h2 Creating a Character
  p.
    If you've already created your charactrer and have completed the initial
    story mission, you can skip this section and go straight to
    #[a(href='combat') Combat].

  p.
    This section is not yet complete.
